.popup_view{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    padding: 20px;
}
.popup_hole{
    width: 90%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.popup_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.popup_right{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    background-color: gainsboro;
    border: 1px solid whitesmoke;
}

.popup_right h3{
    font-size: 25px;
    font-weight: 600;
}
.star_i{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
  margin-top: 10px;
}
.gram{
  /* width: 100%; */
  /* background-color: blanchedalmond; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.gram p{
  width: 70px;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid gainsboro;

}
.gram p:hover{
  transition: 1s;
  border: 1px solid transparent;
  background-color: rgb(137, 137, 219);
}
.back_btnn{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0px;
}
.back_btnn p{
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(90, 90, 161);
  border-radius: 10px;
}
.back_btnn p:hover{
  background-color: whitesmoke;
  transition: 1s;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .popup_left .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup_left .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
 
  
  .popup_left .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
.popup_left .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
.popup_left  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
.popup_left  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
.popup_left  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .popup_left .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
.popup_left .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  