.product{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    overflow: hidden;
}
.product_left{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
}
.product_search{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gainsboro;
    background-color: #F8F8FB;
    border-radius: 15px;
}
.sea{
    width: 100%;
    padding: 15px;
    /* background-color: rgb(72, 255, 0); */
}
.sea input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    outline: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.sea h1{
    font-size: 18px;
    font-weight: 400;
}
.range{
    width: 100%;
    padding: 15px;
    /* background-color: brown; */
}
.range input{
    width: 100%;
}
.range h1{
    font-size: 18px;
    font-weight: 400;
}
.value{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_cat{
    width: 100%;
    padding: 15px;
}
.product_cat h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.pro_category{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pro_category span{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.pro_category span h1{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}
.pro_category h1{
    font-size: 15px;
    color: gray;
}
.pro_category span input{
    width: 18px;
    height: 18px;
    border: 2px solid blue;
}
.product_right{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.product_btn{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.refresh_btn{
    width: 150px;
    height: 50px;
    background-color: rgb(87, 87, 179);
    border-radius: 10px;
    color: white;
}
.refresh_btn:hover{
    background-color: white;
    color: black;
    transition: 1s;
    border: 1px solid black;
}
.back_btn{
    width: 150px;
    height: 50px;
    background-color: rgb(87, 87, 179);
    border-radius: 10px;
    color: white;
}
.back_btn:hover{
    background-color: white;
    color: black;
    transition: 1s;
    border: 1px solid black;
}
